<div class="container">
    <div class="row">
        <!-- Left Logo -->
        <div class="col-md-2 text-center">
            <img src="~/img/uefa_euro_2024_logo.svg.png" alt="UEFA EURO 2024 Logo" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
        <!-- Content Column -->
        <h1>Reglar</h1>
            1 poeng for  rett HUB pr kamp
            3 poeng for rett toppscorer
            3 poeng for flest kort(gult=1,raudt =2)
            3 poeng for rett vinner av EM
            1000 kr innsats,  vinneren får alt. Ved lik poengsum deles potten.
            Vipps Bjørn Tore Årøy 41108550
        <!-- Right Logo -->
        <div class="col-md-2 text-center">
            <img src="~/img/uefa_euro_2024_logo.svg.png" alt="UEFA EURO 2024 Logo" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
    </div>
</div>



